body {
  margin: 0px 150px;
}
a {
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}
img {
  width: 150px;
  display: block;
  margin: 20px auto;
}
h2 {
  font-weight: 600;
  font-size: 1em;
  padding: 5px;
  border-bottom: 0.5px solid lightgray;
}
.home {
  font-weight: normal;
  border-bottom: 2px solid #00b6bd;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
li {
  padding: 5px;
}
#list {
  border-right: 3px solid lightgray;
  padding: 10px;
}
#info {
  margin-left: 20px;
  padding: 10px;
}
#info h2 {
  font-size: 25px;
}
#info li {
  list-style: circle;
  margin-left: 30px;
}
#grid {
  display: grid;
  grid-template-columns: 200px 1fr;
}
@media(max-width: 1100px) {
  body {
    margin: 0px;
  }
}
