@import "reset.css";
@import "variables.css";

@import "header.css";
@import "menu.css";
@import "column-left/news.css";
@import "column-right/login.css";
@import "column-right/shop.css";

body {
  color: #202020;
}

button,
div,
ul,
li {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header,
#menu,
#container {
  justify-content: flex-start;
  width: 1130px;
  padding: 0px 30px;
  margin: 0px auto;
}

#container {
  padding: 20px 30px;
  justify-content: space-between;
  align-items: flex-start;
  letter-spacing: -0.2px;
}

.darkmode-btn i {
  margin-right: 5px;
}

.fixed-btn {
  position: fixed;
  right: 28px;
  bottom: 30px;
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: -0.5px;
}

.darkmode-btn,
.top-btn {
  height: 44px;
  border-radius: 22px;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.darkmode-btn {
  margin-right: 8px;
  width: 136px;
  font-size: 12px;
  font-weight: 700;
}

.top-btn {
  width: 44px;
}

.column-right,
.column-left {
  flex-direction: column;
}

.column-left {
  width: 750px;
}

.column-right {
  width: 350px;
  justify-content: flex-start;
}
