{% extends 'blog/base.html' %} {% block content %}
<a class="login-top" href="{% url 'login' %}">login</a>
<a href="{% url 'main_board' %}"><h1>Basic Blog</h1></a>
<div class="container">
  <div class="menu">
    <div class="menu-category">
      <button>animal</button>
      <button>sport</button>
      <button>living</button>
    </div>
    <div></div>
    <a class="btn menu-write-post" href="{% url 'new_post' %}">new post</a>
  </div>
  {% for post in posts %}
  <ul class="post-list">
    <li class="post">
      <a class="post-title" href="{% url 'post_detail' pk=post.pk %}"
        >{{ post.title }}</a
      >
      <div class="post-info">
        <span class="post-info__id">{{ post.author }}</span>
        <span class="post-info__time">{{ post.created_date }}</span>
      </div>
    </li>
  </ul>
  {% endfor %}
</div>
{% endblock %}
