{% extends 'blog/base.html' %} {% block content %}
<a href="{% url 'main_board' %}"><h1>Basic Blog</h1></a>
<div class="new-post_subtitle">
  <h2>Write a New Post</h2>
</div>
<form action="{% url 'create' %}" method="POST">
  {% csrf_token %} {% comment %}
  <tr class="category-choose">
    <td>category</td>
    <td>
      <select name="author">
        <option value="">choose a author</option>
        <option value="nrj022">nrj022</option>
      </select>
    </td>
  </tr>
  {% endcomment %}
  <table>
    <tr class="category-choose">
      <td>category</td>
      <td>
        <select name="category">
          <option value="">choose a category</option>
          <option value="animal">animal</option>
          <option value="sport">sport</option>
          <option value="living">living</option>
        </select>
      </td>
    </tr>
    <tr class="new-post__title">
      <td>title</td>
      <td>
        <input type="text" name="title" />
      </td>
    </tr>
    <tr class="new-post__content">
      <td>content</td>
      <td>
        <textarea name="body"></textarea>
      </td>
    </tr>
  </table>
  <center class="new-post__btn"><button type="submit">post</button></center>
</form>
{% endblock %}
