.common-sites {
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
  animation: common-site__fadein 0.5s ease-in-out 0.5s forwards;
}

@keyframes common-site__fadein {
  to {
    opacity: 1;
  }
}

.common-sites li {
  width: 112px;
  height: 112px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding-top: 20px;
  box-sizing: border-box;
  align-items: center;
  font-size: 13px;
}

.common-sites li:hover {
  background-color: rgba(0, 0, 0, 0.103);
}

.common-sites li span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.site-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
}

.site-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(238, 238, 238, 0.911);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.site-more span {
  font-size: 30px;
  margin-bottom: 4px;
}
