.google-menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  padding: 5px 0;
  font-size: 13px;
  visibility: hidden;
  color: rgba(0, 0, 0, 0.87);
  animation-name: fadein;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  100% {
    visibility: visible;
  }
}

.menu {
  margin: 8px;
}

.menu__alert {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  background-color: #54575c;
  border-radius: 5px;
  padding: 7px 10px;
  z-index: 2;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}

.menu-dots__alert {
  visibility: hidden;
  white-space: nowrap;
  bottom: -30px;
}

.profile__alert {
  visibility: hidden;
  align-items: flex-start;
  right: -6px;
  bottom: -60px;
}

.profile__alert span {
  color: rgba(255, 255, 255, 0.664);
  margin-top: 4px;
  letter-spacing: 0.5px;
}

.gmail:hover,
.image:hover {
  text-decoration: underline;
}

.menu-dots__bg:hover,
.profile__bg:hover {
  background-color: #8585852a;
}

.user-info__account--manage:hover,
.sub-account:hover,
.account-more:hover,
.user-info__logout-all:hover {
  background-color: rgba(196, 196, 196, 0.103);
}

.user-info__others a {
  padding: 6px;
  border-radius: 4px;
}

.user-info__others a:hover {
  background-color: rgba(196, 196, 196, 0.144);
}

.dots-top,
.dots-mid,
.dots-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  display: flex;
  width: 4px;
  height: 4px;
  margin: 1px;
  border-radius: 50%;
  background-color: #5f6368;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: dodgerblue;
  font-size: 12px;
  font-weight: 700;
  color: white;
  margin: 0;
}

.profile__bg,
.menu-dots__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  background-color: transparent;
}

.menu-dots__bg {
  margin: 0 0 0 5px;
}

.profile__bg {
  margin-right: 15px;
}
