@import "reset.css";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-btn {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 15px;
}

.home-btn a {
  margin: 20px;
  line-height: 40px;
}

h1 {
  margin: 100px 0 50px;
  font-weight: 700;
  font-size: 20px;
}

.login-subtitle {
  margin: 30px 0;
  font-size: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-input {
  box-sizing: border-box;
  padding: 0 5px;
  margin-bottom: 20px;
  width: 300px;
  height: 30px;
}

.submit-btn {
  width: 300px;
  height: 30px;
}

.find-account {
  margin: 10px 0;
  font-size: 12px;
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in span {
  margin: 10px 0;
  color: rgb(119, 119, 119);
}

.sign-in a {
  text-decoration: underline;
}
