/* main_board css */

/* .login-top {
  position: absolute;
  top: 10px;
  right: 15px;
  color: lightslategrey;
}

.login-top:hover {
  text-decoration: underline;
} */

.container {
  width: 70%;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid gray;
}
/* 
.menu-category button {
  font-size: 14px;
  margin-right: 10px;
  border: transparent;
  background-color: transparent;
  padding: 0;
}

.menu-category button:hover {
  text-decoration: underline;
}

.menu-category button:first-child {
  font-weight: 700;
} */

.blog-explanation {
  margin: -30px 0 40px;
  font-size: 12px;
  color: rgb(139, 139, 139);
}

.menu-title,
.menu-sub__cate {
  font-weight: 700;
  line-height: 20px;
}

.menu-title {
  padding-left: 10px;
}

.menu-sub {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid lightgrey;
}

.post-title:hover {
  text-decoration: underline;
}

.post-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.post-info__cate {
  font-size: 12px;
  margin-bottom: 5px;
}

.post-info__time {
  font-size: 10px;
  color: grey;
}
