.login {
  display: block;
  box-sizing: border-box;
  border: var(--border);
  width: 100%;
  padding: 16px 16px 12px 17px;
  background-color: var(--background-color);
  font-size: 12px;
}

.login span {
  text-align: left;
  color: grey;
  padding-left: 3px;
}

.login button {
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  margin-top: 11px;
  background-color: var(--green);
  border: 1px solid var(--green);
  border-radius: 2px;
  font-weight: 700;
  font-size: 13px;
  color: white;
}

.login button img {
  width: 60px;
  margin: 2px 5px 0 0;
}

.login-help {
  justify-content: space-between;
  margin: 16px 8px 4px 4px;
}

.world-info {
  justify-content: space-between;
  margin: 12px 0;
  border: var(--border);
  box-sizing: border-box;
  width: 350px;
  letter-spacing: -0.25px;
  padding: 10px 14px;
  font-size: 12px;
}

.world-info__issue--title {
  /* display: inline-block; */
  font-weight: 700;
  font-size: 11px;
  padding: 4px 8px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  margin-right: 10px;
}

.world-info__btn button,
.shop__title--btn button {
  border-radius: 0;
  border: var(--border);
  padding: 0;
  background-color: white;
}

.world-info__btn i,
.shop__title--btn i {
  margin: 7px 8px 6px;
  color: rgba(0, 0, 0, 0.5);
}
